*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Paul';
    src: url('Fonts/Paul-le1V.ttf');
    font-weight: bolder;
    font-style: oblique;
}

body {
    font-family: 'Paul', sans-serif;
    text-shadow: 0.25px 0.25px 0 #000;
    font-size: 1.05em;
}

nav{
    background-color: gold;
    padding: 15px;
    text-align: center;
}

.link:hover .option {
    color: red;
    text-decoration: overline;
}

.banner{
    height: 100px;
    background-color: silver;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.3em;
    text-align: center;
    letter-spacing: 0.3em;
}

footer{
    background-color: brown;
    color: blueviolet;
    text-align: center;
    padding: 20px;
}

.two-column-block{
    display: flex;
}

.two-column-block div{
    flex: 1;
    padding: 90px;
    text-align: center;
}

.left-section{
    background-color: aqua;
}

.right-section{
    background-color: limegreen;
}

quote{
    font-size: 1.5em;
    font-style: initial;
    color: red;
    margin-bottom: 20px;
}

#quoter{
    font-size: 1em;
    color: rgb(78, 60, 10);
    margin-top: 5px;
}